.card{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    
  
  }
  .card-container{
    max-width: 500px;
    background-color: rgb(148, 174, 197);
    border-radius: 8px;
   
  }
  .card-title{
    
    display: flex;
    justify-content: center;
    background-color: rgb(55, 55, 230);
    color: aliceblue;
    border: 2px solid rgb(3, 3, 97);
    border-radius: 10px 10px 0px 0px;
  }
  .card-body{
    display: flex;
    justify-content: center;
    background-color: rgb(149, 198, 219);
    color: aliceblue;
    height: 100px;
    padding: 30px;
  }
  .button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
  }
  button{
  
    background-color: rgb(7, 18, 227);
    border-radius: 10px;
    padding: 8px;
    font-size: 1rem;
    color: white;
    border: 0px;
    margin: 20px;
  }