.Nav-bar{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,56,255,0.5938084706538865) 100%, rgba(0,172,227,0.4481502073485645) 100%);
    display: flex;
    justify-content: center;
}
.nav-element{
    
    margin: 18px;
    border: 2px solid white;
    border-radius: 15%;
    padding:0px 12px;
}



h1, .view-code,a{
    color: white;
    text-decoration: none;
}

.view-code{
   
    margin-left: 8px;
   
}
.view-link{
    display: flex;
    justify-content: space-around;
   
}

img{
    width: 30px;
    height: 30px;
   margin-top: 10px;
    border-radius: 50%;
}